<div class="container">
  <div class="user-information">
    <div class= "d-flex justify-content align-items-center">
      <div class="img-profile">
        <%= image_tag  @friend.picture %>
      </div>
      <h1><strong> Rencontre <%= @friend.name %> !</strong></h1>
    <div class="row">
      <div class="col-9 bg-grey">
        <h2> <strong> Activités proposées :</strong></h2>
        <p>disponible pour : </p>
        <li><%= @friend.activity_wedding %> </li>
      </div>
    </div>
    </div>
  </div>

  <div id="booking-new">
    <%= simple_form_for ([@friend, Booking.new]) do |f| %>
      <%= f.input :start_date, required: true, locale: 'fr', format: 'dd/mm/yyyy', label: "Début", as: :string, input_html: { data: { controller: "datepicker" } }%>
      <%= f.input :end_date, required: true, locale: 'fr', format: 'dd/mm/yyyy', label: "Fin", as: :string, input_html: { data: { controller: "datepicker" } } %>
      <%= f.submit "Réserver" %>

      <p> <br> <%= @friend.price%> euros / jour</p>
      <%# <% @bookings = Booking.where(user_id: current_user.id)%>
      <%# <% (@friend.end_date) - (@friend.start_date)%>
      <%# <%= (Date.parse(params[@friend][:end_date]).to_i / 86_400) %>
      </div>
    <% end %>
  </div>
</div>

<% if @friend.activity_wedding? %>
  <p class="activity">Mariage</p>
<% end %>

<% if @friend.activity_diner? %>
  <p class="activity">Diner</p>
<% end %>

<% if @friend.activity_birthday? %>
  <p class="activity">Anniversaire</p>
<% end %>

<% if @friend.activity_bowling? %>
  <p class="activity">Bowling</p>
<% end %>

<% if @friend.activity_hike? %>
  <p class="activity">Randonnée</p>
<% end %>

<% if @friend.activity_bowling? %>
  <p class="activity">Bowling</p>
<% end %>

<% if @friend.activity_movie? %>
  <p class="activity">Movie</p>
<% end %>

<% if @friend.activity_picnic? %>
  <p class="activity">Bowling</p>
<% end %>

<% if @friend.activity_concert? %>
  <p class="activity">concert</p>
<% end %>

<% if @friend.activity_karaoke? %>
  <p class="activity">Karaoke</p>
<% end %>

<% if @friend.activity_shopping? %>
  <p class="activity">Shopping</p>
<% end %>

<% if @friend.activity_sport? %>
  <p class="activity">Sport</p>
<% end %>

<% if @friend.activity_barbecue? %>
  <p class="activity">Barbecue</p>
<% end %>

<% if @friend.activity_camping? %>
  <p class="activity">Camping</p>
<% end %>

<% if @friend.activity_paintball? %>
  <p class="activity">Paintball</p>
<% end %>
