
<%= render "shared/navbar" %>

<div class="container">
  <div class="user-information">
    <div class= "d-flex justify-content align-items-center">
      <div class="img-profile">
        <%= image_tag  @friend.picture %>
      </div>
      <h1><strong> Rencontre <%= @friend.name %> !</strong></h1>
    <div class="row">
      <div class="col-9 bg-grey">
        <h2> <strong> Activités proposées :</strong></h2>
        <p>disponible pour : </p>
        <li><%= @friend.activity_wedding %> </li>
      </div>
    </div>
    </div>
  </div>

  <div id="booking-new">
    <%= simple_form_for ([@friend, Booking.new]) do |f| %>
      <%= f.input :start_date, required: true, label: "Début", as: :string, input_html: { data: { controller: "datepicker" } }%>
      <%= f.input :end_date, required: true, label: "Fin", as: :string, input_html: { data: { controller: "datepicker" } } %>
      <%= f.submit "Réserver" %>
      </div>
    <% end %>
  </div>
</div>
