<section class="container-show">
  <section class="card-user">
    <div class="img-profile">
      <%= image_tag  @friend.picture %>
      <h1><strong> Rencontre <%= @friend.name %></strong></h1>
      <p> <%= @friend.description %>
      </p>
    </div>
  </section>

  <section class="card-informations">
    <div class="friend-activities">
      <h3>Disponible pour</h3>
      <div class="grid-activities" >
        <% if @friend.activity_wedding? %>
          <i class="fa-solid fa-ring" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-ring" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_sam? %>
          <i class="fa-solid fa-car" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-car" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_diner? %>
          <i class="fa-solid fa-utensils" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-utensils" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_birthday? %>
          <i class="fa-solid fa-cake-candles" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-cake-candles" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_bowling? %>
          <i class="fa-solid fa-bowling-ball" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-bowling-ball" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_hike? %>
          <i class="fa-solid fa-person-hiking" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-person-hiking" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_movie? %>
          <i class="fa-solid fa-film" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-film" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_picnic? %>
          <i class="fa-solid fa-campground" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-campground" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_concert? %>
          <i class="fa-solid fa-guitar" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-guitar" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_karaoke? %>
          <i class="fa-solid fa-music" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-music" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_shopping? %>
          <i class="fa-solid fa-bag-shopping" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-bag-shopping" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_sport? %>
          <i class="fa-solid fa-dumbbell" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-dumbbell" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_barbecue? %>
          <i class="fa-solid fa-fire-burner" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-fire-burner" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_camping? %>
          <i class="fa-solid fa-caravan" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-caravan" style="color: grey;"></i>
        <% end %>

        <% if @friend.activity_paintball? %>
          <i class="fa-solid fa-gun" style="color: green;"></i>
        <% else %>
          <i class="fa-solid fa-gun" style="color: grey;"></i>
        <% end %>
      </div>
    </div>
    <div class="friend-qualities">
      <h3><%= @friend.name.capitalize %> est très</h3>
      <div>
        <% if @friend.quality_funny? %>
          <p>Drôle</p>
        <% end %>

        <% if @friend.quality_reliable? %>
          <p>Fiable</p>
        <% end %>

        <% if @friend.quality_honest? %>
          <p>Honnête</p>
        <% end %>

        <% if @friend.quality_good_looking? %>
          <p>Stylé</p>
        <% end %>

        <% if @friend.quality_brave? %>
          <p>Courageux</p>
        <% end %>
      </div>
    </div>
    <div class="friend-defaults">
      <h3>Mais aussi très</h3>
      <div>
        <% if @friend.default_complotist? %>
          <p>Complotiste</p>
        <% end %>

        <% if @friend.default_impatient? %>
          <p>Impatient</p>
        <% end %>

        <% if @friend.default_disorganized? %>
          <p>Bordelique</p>
        <% end %>

        <% if @friend.default_cheap? %>
          <p>Radin</p>
        <% end %>

        <% if @friend.default_arrogant? %>
          <p>Arrogant</p>
        <% end %>
      </div>
    </div>
</section>


 <section class="card-booking">
      <div class="price-user">
        <p><strong><%= @friend.price %>€</strong> par jour</p>
        <div class="reviews">
          <p>4.5</p>
          <p>reviews</p>
        </div>
      </div>
      <div class="formulaire">
        <%= simple_form_for ([@friend, Booking.new]) do |f| %>
          <%= f.input :start_date, required: true, label: "Début", as: :string, input_html: { data: { controller: "datepicker" } }%>
          <%= f.input :end_date, required: true, label: "Fin", as: :string, input_html: { data: { controller: "datepicker" } } %>
          <%= f.submit "Réserver", class: "button-primary-large" %>
        <% end %>
      </div>
      <div class="price-total"></div>
  </section>
</section>
