<div class="container">
  <div class="d-flex justify-content align-items-center">
    <%= image_tag  @friend.picture %>
    <h1>Rencontre <%= @friend.name %>!</h1>
  </div>
  <div class="row">
    <div class="col-9 bg-grey">
      <h2> Activités </h2>
      <p>disponible pour</p>
    </div>
  </div>
  <p><%= link_to "Réserver", new_friend_booking_path(@friend) %></p>

<div id="booking-new">
  <%= simple_form_for ([@friend, Booking.new]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>
</div>


<% if @friend.activity_wedding? %>
  <p class="activity">Mariage</p>
<% end %>

<% if @friend.activity_diner? %>
  <p class="activity">Diner</p>
<% end %>

<% if @friend.activity_birthday? %>
  <p class="activity">Anniversaire</p>
<% end %>

<% if @friend.activity_bowling? %>
  <p class="activity">Bowling</p>
<% end %>

<% if @friend.activity_hike? %>
  <p class="activity">Randonnée</p>
<% end %>

<% if @friend.activity_bowling? %>
  <p class="activity">Bowling</p>
<% end %>

<% if @friend.activity_movie? %>
  <p class="activity">Movie</p>
<% end %>

<% if @friend.activity_picnic? %>
  <p class="activity">Bowling</p>
<% end %>

<% if @friend.activity_concert? %>
  <p class="activity">concert</p>
<% end %>

<% if @friend.activity_karaoke? %>
  <p class="activity">Karaoke</p>
<% end %>

<% if @friend.activity_shopping? %>
  <p class="activity">Shopping</p>
<% end %>

<% if @friend.activity_sport? %>
  <p class="activity">Sport</p>
<% end %>

<% if @friend.activity_barbecue? %>
  <p class="activity">Barbecue</p>
<% end %>

<% if @friend.activity_camping? %>
  <p class="activity">Camping</p>
<% end %>

<% if @friend.activity_paintball? %>
  <p class="activity">Paintball</p>
<% end %>
