
<%= render "shared/navbar" %>
<div class="container">
  <div class="d-flex justify-content align-items-center">
    <%= image_tag  @friend.picture %>
    <h1>Rencontre <%= @friend.name %>!</h1>
  </div>
  <div class="row">
    <div class="col-9 bg-grey">
      <h2> Activités </h2>
      <p>disponible pour</p>
    </div>
  </div>
  <p><%= link_to "Réserver", new_friend_booking_path(@friend) %></p>

<div id="booking-new">
  <%= simple_form_for ([@friend, Booking.new]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>
</div>
