<div class="card card-booking d-flex">
  </p>Demande de réservation pour
    <%= request.friend.name.capitalize %>!
  <p>
  </p>Effectuée par
    <%= request.user.first_name %>
  <p>

  <p>Statut :
  <%= simple_form_for(request) do |f| %>
    <%= f.select :status, options_for_select(["pending", "validated", "declined", "finished"], f.object.status) %>
  <%end %></p>
  <%= request.status %>
  <% if request.start_date == request.end_date %>
    <%= "Le #{request.start_date}" %>
  <% else %>
    <%= "Du #{request.start_date} au #{request.end_date}"%>
  <% end %>
</div>
