<div class="card card-booking d-flex">
  </p>Demande de réservation pour
    <%= request.friend.name.capitalize %>!
  <p>
  </p>Effectuée par
    <%= request.user.first_name %>
  <p>

  <p>Statut :
  <%# ajouter un dropdown menu ici pour changer le statut %>
    <%= request.status%>
  </p>
  <% if request.start_date == request.end_date %>
    <%= "Le #{request.start_date}" %>
  <% else %>
    <%= "Du #{request.start_date} au #{request.end_date}"%>
  <% end %>
  <div class="status">
  <button type="button" class="btn btn-outline-success">Valider</button>
  <button type="button" class="btn btn-outline-danger">Refuser</button>
  <button type="button" class="btn btn-outline-info">Terminer</button>
  </div>
</div>
