<div class="wrapper">
  <h1> Votre avis  </h1>
  <%= simple_form_for([@booking, @review]) do |f| %>
    <%= f.input :review_content, label: "Commentaire" %>
    <%= f.input :review_rating, label: "Note", collection: Review::AUTHORIZED_RATINGS %>
    <div class="btn-bottom">
      <%= f.button :submit, class: "button-primary" %>
      <%= link_to "Back to bookings",  bookings_path, class: "button-secondary" %>
    </div>
  <% end %>
</div>
