<h1> Laissez une évaluation </h1>
<%= simple_form_for([@friend, @booking, @review]) do |f| %>
  <%= f.input :review_content %>
  <%= f.input :review_rating, collection: Review::AUTHORIZED_RATINGS %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<%= link_to "Go back to bookings",  bookings_path %>
